.sidebar {
  position: fixed;
  top: 0;
  left: -200px; /* hidden */
  width: 200px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2); /* transparent black */
  backdrop-filter: blur(6px);
  color: black;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
}
.sidebar img{
  width: 30px;
}
.sec{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.sidebar.active {
  left: 0; /* show sidebar */
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1100;
}
.menu-icon img{
  width:30px;
}
.about-sec{
  margin-top: 60px;
}

.bottom-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  cursor: pointer;
}

